hnlLastStopCellInfo = '(
                           ( "asap7_TechLib" "pmos_rvt" "auCdl" "43" "1463002554" )
                          ( "asap7_TechLib" "nmos_rvt" "auCdl" "43" "1463002554" )
                          ( "asap7_TechLib" "nmos_sram" "auCdl" "43" "1463002554" )
                          ( "asap7_TechLib" "pmos_sram" "auCdl" "43" "1463002554" )
                       )
hnlLastMaxNameLength = 60
hnlLastNamePrefix = "hnl_"
hnlLastNetNamePrefix = "N"
hnlLastInstNamePrefix = ""
hnlLastModelNamePrefix = ""
hnlLastGlobalNetPrefix = "G"
hnlLastModulePrefix = "sub"
hnlLastHierarchyDelimiter = "."
hnlLastMapNetFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapNetInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstFirstChar = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "="
                          )
hnlLastMapInstInName = '(
                            "	"
                            " "
                            "$"
                            ","
                            "/"
                            ":"
                            ";"
                            "="
                          )
hnlLastInstNameDifferentFrom = '( )
hnlLastModelNameDifferentFrom = '( )
hnlLastNetNameDifferentFrom = '( )
hnlLastTermNameDifferentFrom = '( )
hnlLastParamNameDifferentFrom = '( )
hnlLastLibInfo = '(
                    ( "RF_Lab4" "1475884684" )
                  )
hnlLastDesignVars = '( )
